<div class="history">
    <div class="cd-timeline-header">
        <h2 id="Experenice">Experience</h2>
        <hr class="bar" />
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">IIT Guwahati Computer science</h2>
                <P>I'm currently pursuing a Bachelors degree in Technology. Elements of the course include Software Engineering, Distributed Systems, Networks and Communications, Data Mining, Machine Learning and Real Time Systems.</P><span class="cd-date">2013-present</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"><img src="../assets/img/idea14.svg" alt="College" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>IARC</h2>
                <p>International Autonomous Robotics Competitions held at IIT Kanpur. Built an autonomous maze solver that won nationals and came fourth in internationals</p><span class="cd-date">March 2014</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/techno.png" alt="Picture" width="498px" height="413px"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Technothlon - Roboter Saunde</h2>
                <p>The ultimate test of logic.Contributed to the question bank of prelims.Conducted a robotics event, "Roboter Saunde" in the main round</p><span class="cd-date">september 2013 - September 2014</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/graduate38.svg" alt="Location" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Robotics Lab,CSE IITG</h2>
                <p>Worked under the guidance of Dr.S B Nair in mobile agent systems using a lab-brewn platform engine,Tartarus built in SWI-prolog. Gained insight into importance of mobile agent systems in systems like IoT where scalability is the utmost priority. Experienced a declarative paradigm in programming.</p><span class="cd-date">Summer 2015</span></span>
            </div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/hosting.svg" alt="Location" /></div>
            <!-- cd-timeline-img
            <div class="cd-timeline-content">
                <h2>Integration Engineer with Ericsson</h2>
                <p>I worked on the development of a log analysis tool for the Multi Service Proxy system. The tool was developed in Python. The tool allows the support team locate errors on the visualized nodes more effectively.</p><span class="cd-date">May 2015 - Current</span></div>
            cd-timeline-content-->
            <!-- cd-timeline-block-->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location"><img src="../assets/img/question30.svg" alt="Location" /></div>
            </div>
            <!-- cd-timeline-->
        </div>
    </section>
    <div class="cd-timeline-header">
        <h2></h2></div>
</div>
